@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: 'Rubik', sans-serif;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.mainContainer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}